<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/home.css">
</head>

<body id="home">

    <main class="container">

        <section class="container-tophalf">

            <!--============== Navigation Bar ===================== -->


            <header class="container-nav">
                <img src="img/logo-big.png" alt="logo" class="logo" width=>

                <nav>
                    <ul class="nav-bar">
                        <li class="nav-links"> <a href="/dashboard" class="nav-items">Home</a> </li>
                        <li class="nav-links"> <a href="/connect" class="nav-items">Connect Account</a> </li>
                        <li class="nav-links"> <a href="/load" class="nav-items">Load Wallet</a> </li>
                        <li class="nav-links"> <a href="/payment" class="nav-items">Payment</a> </li>
                        <li class="nav-links"> <a href="/transactions" class="nav-items">Transactions</a> </li>
                    </ul>
                </nav>

                <a href="/logout" class="login"><button class="btn">Logout</button> </a>
            </header>