
<%- include("partials/header") -%>

            <section class="container-section">
                <div class="section-items">

                    <div class="text">
                        <h1 class="slogan">The Power of Future Crypto </h1>

                        <p class="description">The All-in-One Online Trading Website You'll Ever Need!
                                                </p>
                        <div class="startTrading" id="signup-btn">
                            <a href="/connect"><button class="btn">Connect Account</button> </a>
                        </div>
                    </div>

                    <div class="img">
                        <img src="img/problems-graphic.png" alt="" id="img-right">
                    </div>




            </section>

        </section>
    </main>


</html>
